$dark    :  #142131!default; // Body bg + couleur de texte
$white   :  #ffffff!default; 
$light   :  #F4F4F4!default; // Bouton Annuler 
$success :  #6FB75C!default; // Call to Action (ex : Ajouter un utilisateur)
$danger  :  #EB7171!default; // Supprimer
$gray    :  #878787!default; // Placeholder du champs input tet
$border  :  #DBDBDB!default; // Border champs input / séparation sur la liste